@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-brand-dark: var(--brand-dark);
  --color-brand-base: var(--brand-base);
  --color-gray-800: var(--gray-800);
  --color-gray-700: var(--gray-700);
  --color-gray-600: var(--gray-600);
  --color-gray-500: var(--gray-500);
  --color-gray-400: var(--gray-400);
  --color-gray-300: var(--gray-300);
  --color-gray-200: var(--gray-200);
  --color-gray-100: var(--gray-100);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-danger: var(--danger);
  --color-success: var(--success);
  --color-blue-dark: var(--blue-dark);
  --color-blue-base: var(--blue-base);
  --color-blue-light: var(--blue-light);
  --color-purple-dark: var(--purple-dark);
  --color-purple-base: var(--purple-base);
  --color-purple-light: var(--purple-light);
  --color-pink-dark: var(--pink-dark);
  --color-pink-base: var(--pink-base);
  --color-pink-light: var(--pink-light);
  --color-red-dark: var(--red-dark);
  --color-red-base: var(--red-base);
  --color-red-light: var(--red-light);
  --color-orange-dark: var(--orange-dark);
  --color-orange-base: var(--orange-base);
  --color-orange-light: var(--orange-light);
  --color-yellow-dark: var(--yellow-dark);
  --color-yellow-base: var(--yellow-base);
  --color-yellow-light: var(--yellow-light);
  --color-green-dark: var(--green-dark);
  --color-green-base: var(--green-base);
  --color-green-light: var(--green-light);
  --font-sans: "Inter", sans-serif;
}

:root {
  --brand-dark: oklch(0.3673 0.0802 154.33);
  --brand-base: oklch(0.4822 0.1043 154.81);
  --gray-800: oklch(0.2101 0.0318 264.66);
  --gray-700: oklch(0.3729 0.0306 259.73);
  --gray-600: oklch(0.4461 0.0263 256.8);
  --gray-500: oklch(0.551 0.0234 264.36);
  --gray-400: oklch(0.7137 0.0192 261.32);
  --gray-300: oklch(0.8717 0.0093 258.34);
  --gray-200: oklch(0.9276 0.0058 264.53);
  --gray-100: oklch(0.9816 0.0017 247.84);
  --black: oklch(0 0 0);
  --white: oklch(1 0 0);
  --danger: oklch(0.6368 0.2078 25.33);
  --success: oklch(0.6613 0.1475 158.67);
  --blue-dark: oklch(0.4882 0.2172 264.38);
  --blue-base: oklch(0.5461 0.2152 262.88);
  --blue-light: oklch(0.9319 0.0316 255.59);
  --purple-dark: oklch(0.4955 0.2369 301.92);
  --purple-base: oklch(0.5575 0.2525 302.32);
  --purple-light: oklch(0.9464 0.0327 307.17);
  --pink-dark: oklch(0.5246 0.199 3.96);
  --pink-base: oklch(0.5916 0.218 0.58);
  --pink-light: oklch(0.9482 0.0276 342.26);
  --red-dark: oklch(0.5054 0.1905 27.52);
  --red-base: oklch(0.5771 0.2152 27.33);
  --red-light: oklch(0.9356 0.0309 17.72);
  --orange-dark: oklch(0.5534 0.1739 38.4);
  --orange-base: oklch(0.6461 0.1943 41.12);
  --orange-light: oklch(0.9542 0.0372 75.16);
  --yellow-dark: oklch(0.5538 0.1207 66.44);
  --yellow-base: oklch(0.6806 0.1423 75.83);
  --yellow-light: oklch(0.9569 0.0534 102.75);
  --green-dark: oklch(0.5273 0.1371 150.07);
  --green-base: oklch(0.6271 0.1699 149.21);
  --green-light: oklch(0.9616 0.0353 157.03);
}

@layer base {
  * {
    font-family: var(--font-sans);
  }
  body {
    @apply bg-gray-100 text-gray-700;
  }
}
